.dialog-container {
      .el-dialog {
            margin-top: 50%;
            padding-bottom: 50px;
            border-radius: 8px
      }

      .content{
            padding: 20px 50px;

      }
      .content-input{
           .el-input__inner {
                  padding: 16px 30px;
                  height: auto;
                  color: #333;
                  font-size: 20px;
                  border: 1px solid #e0e0e0;
                  @include borderRadius(70px)
            } 
      }
      

      .sure-button {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 160px;
            font-size: 18px;
            background-color: $mainColor;
            border-radius: 25px;
            box-shadow: 0 4px 30px rgba(109, 162, 255, .7)
      }

      .icon-close {
            position: absolute;
            bottom: -100px;
            left: 50%;
            font-size: 60px;
            color: #fff;
            @include bgIcon(icon-close, 60px, 60px);
            transform: translateX(-50%)
      }

      .remove-content {
            text-align: center;
            font-size: 18px
      }

      .cancel-button {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 160px;
            font-size: 18px;
            border-radius: 25px
      }


}
.date-dialog{
     .time-tip{
      position:absolute;
      bottom:20px;
      left:0%;
      color:#999;
      width:100%;

     } 
}
.myTime-select{
      padding:0 20px;
      .time-part{
            padding:8px 0px 8px 20px;
            margin:0 8px;
            border:1px solid #efefef;
            border-radius:40px;
            .time-name{
                  font-size:18px;
                  color:#999;
            }
            display:inline-block;
            
      }
      .el-input__prefix{
            left:auto;
            right:0;
      }
      .my-time{
            margin:0 8px;
            width:100px;
            .el-input__inner{
                  padding-left:0;
                  border:none;
                  font-size:18px;
            }
            .el-icon-arrow-down{
              width:35px;
              font-size:18px;
            }
                
      }
      .el-checkbox-group{
            padding-bottom:10px;
            text-align:left;
      }
      .weekday-item{
            margin:0 8px 15px;
            border-radius:20px;
            .el-checkbox-button__inner{
                  border:1px solid #efefef;
                  border-radius:4px;
            }
      }
      
      .is-checked{
            .el-checkbox-button__inner{
                  color:#6DA2FF;
                  border-color:#6DA2FF;
                  background-color:transparent;
                  box-shadow:none;
           }
      }
}
