.file-container{
	padding-top:35px;
	&:before{
		content:'';
		display:block;
		position:absolute;
		top:0;
		left:10px;
		right:10px;
		height:1px;
		background-color:#6DA2FF;
	}
	
}
.library-container{
	.plan-item{
		.activeUp{
			border:none;
			color:#fff;
			background-color:#6DA2FF;
		}
	}
	.rank-mark{
		display:none;
		@include absolute;
		z-index:10;
		background-color: rgba(0,0,0,.6);
		border-radius:6px;
		.number{
			position:absolute;
			left:50%;
			top:50%;
			color:#fff;
			font-size:48px;
			transform:translate(-50%,-50%);
		}
	}
	.library-title{
		font-size:48px;
		color:#333;
		font-family: PingFangSC-Medium;
	}
	
	.operate-row{
		position:relative;
		padding-top:60px;
		.opreate-right{
			margin-top:10px;
		}
		.save-right-btn{
			position:absolute;
			top:-25px;
			right:5px;
			z-index:99;
		}
		.cancel-btn{
      font-size:18px;
      color:$font666;
      cursor:pointer;
	  }
	}
}
.selectLibrary{
	.rank-mark{
		display:block;
	}
}
@media only screen and (max-width: 1366px){
  .library-container{
  	.library-title{
  		font-size:30px;
  	}
  	.operate-row{
  		.save-right-btn{
	  		top:15px;
	  	}
  	}
  	
  }

}