.schemes-main{
  .all-checked-btn{
    vertical-align: -3px;
  }
}
.schemeRemove{
	.plan-item{
		&:hover{
			.hover-status{
				opacity:0;
			}
		}
	}
	.schemes-item{
		&:hover{
			.edit-content{
				opacity:0;
			}
		}
	}
  .remove-mark{
  	@include absolute;
    z-index:10;
    border-radius:6px;
  	background-color:rgba(0,0,0,.5);
  	.icon-current{
  		 position:absolute;
  		 left:50%;
  		 top:50%;
  		 @include bgIcon(icon-current,49px,49px)
  		 transform:translate(-50%,-50%);
  	}
  }
}